<a href="https://colab.research.google.com/github/chajunhyeop/-/blob/main/ubion4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##2023.01.05
##머신러닝

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor

In [5]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Ashopping.csv", encoding = 'cp949')
df

,고객ID,이탈여부,총매출액,구매금액대,방문빈도,1회 평균매출액,할인권 사용 횟수,총 할인 금액,고객등급,구매유형,...,구매카테고리수,거주지역,성별,고객 나이대,거래기간,할인민감여부,Recency,Frequency,Monetary,평균 구매주기
0,1,1,4963160,1,22,225598,1,5445,1,3,...,7,6,1,6,3303,0,3,2,1,149.136364
1,2,1,2271520,0,38,59777,22,350995,1,1,...,5,4,0,2,3129,0,5,3,4,81.342105
2,3,1,2484250,0,2,1242125,6,186045,1,2,...,4,6,0,3,3636,0,4,1,4,1817.000000
3,4,1,2778850,0,9,308761,1,5195,2,4,...,4,5,0,4,3637,0,7,4,6,403.111111
4,5,1,4437610,1,10,443761,9,246350,2,4,...,6,6,0,4,3638,0,5,1,4,362.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0,12731560,2,35,363759,3,44445,2,3,...,8,6,0,4,4629,1,3,3,1,131.257143
996,997,0,3419010,0,6,569835,6,186545,1,2,...,9,6,0,4,4630,1,7,3,6,770.666667
997,998,0,4612100,1,13,354777,8,260700,2,1,...,1,4,1,6,4631,1,2,1,2,355.230769
998,999,0,5165360,1,28,184477,20,347700,1,3,...,7,5,1,6,3907,0,7,2,6,138.535714
999,1000,0,4323050,1,16,270191,19,367045,2,4,...,6,5,1,6,2118,0,5,1,4,131.375000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   고객ID       1000 non-null   int64
 1   이탈여부       1000 non-null   int64
 2   총매출액       1000 non-null   int64
 3   구매금액대      1000 non-null   int64
 4   방문빈도       1000 non-null   int64
 5   1회 평균매출액   1000 non-null   int64
 6   할인권 사용 횟수  1000 non-null   int64
 7   총 할인 금액    1000 non-null   int64
 8   고객등급       1000 non-null   int64
 9   구매유형       1000 non-null   int64
 10  클레임접수여부    1000 non-null   int64
 11  구매카테고리수    1000 non-null   int64
 12  거주지역       1000 non-null   int64
 13  성별         1000 non-null   int64
 14  고객 나이대     1000 non-null   int64
 15  거래기간       1000 non-null   int64
 16  할인민감여부     1000 non-null   int64
 17  Recency    1000 non-null   int64
 18  Frequency  1000 non-null   int64
 19  Monetary   1000 non-null   int64
 20  평균 구매주기    1000 non-null   float64
dtypes: float64(1), int64(20)
memory usage: 164.2 KB

In [8]:
df.isnull().sum()

고객ID         0
이탈여부         0
총매출액         0
구매금액대        0
방문빈도         0
1회 평균매출액     0
할인권 사용 횟수    0
총 할인 금액      0
고객등급         0
구매유형         0
클레임접수여부      0
구매카테고리수      0
거주지역         0
성별           0
고객 나이대       0
거래기간         0
할인민감여부       0
Recency      0
Frequency    0
Monetary     0
평균 구매주기      0
dtype: int64

In [37]:
#필요열(변수, feature)만 뽑아서 만들기
X = df[["총매출액", "1회 평균매출액", "할인권 사용 횟수"]]
Y = df["평균 구매주기"]

#데이터 분할(train, test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

#model 만들기
model = KNeighborsRegressor() #regressor 평균 구매주기가 연속형이기에 회귀형

#교차검증
score = cross_val_score(model, X_train, Y_train, cv=14)
print(score)

[0.71777055 0.39309544 0.72765166 0.85625877 0.5454669  0.71269716
 0.5773301  0.62303748 0.80133401 0.71244874 0.56060046 0.7432609
 0.67093647 0.8364428 ]

In [40]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import StratifiedKFold

X = df[["총매출액", "거래기간", "방문빈도"]]
Y = df["이탈여부"]

#데이터 분할(train, test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

#model 만들기
model = KNeighborsClassifier() #classifier "이탈여부" 범주형이기에 분류형

#검증 ( Stratified K-fold Cross-Validation test)
skf = StratifiedKFold(n_splits = 5, shuffle = True, random_state=0)
scores = cross_val_score(model, X_train, Y_train, cv = skf)
print("교차검증 점수 :", scores)

교차검증 점수 : [0.64285714 0.7        0.67857143 0.67142857 0.70714286]

In [47]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=8f89497af769054d326acef8d241e33ea526fac1c0f1e1dee7cddbd952f1b57d
  Stored in directory: /root/.cache/pip/wheels/14/25/f7/1cc0956978ae479e75140219088deb7a36f60459df242b1a72
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [49]:
from sklearn.model_selection import GridSearchCV

X = df[["총매출액", "거래기간", "방문빈도"]]
Y = df["이탈여부"]

#데이터 분할(train, test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

#model 만들기
model = KNeighborsClassifier() #classifier "이탈여부" 범주형이기에 분류형

#그리드 인자 검색 
mylist = list(range(1,50))
k_list = [x for x in mylist if x %2 !=0]
parameter_grid = {"n_neighbors" : k_list}

#그리드 서치 
grid_search = GridSearchCV(model, parameter_grid, cv=10)
grid_search.fit(X_train, Y_train)
grid_search.best_params_

{'n_neighbors': 9}

In [50]:
parameter_grid

{'n_neighbors': [1,
  3,
  5,
  7,
  9,
  11,
  13,
  15,
  17,
  19,
  21,
  23,
  25,
  27,
  29,
  31,
  33,
  35,
  37,
  39,
  41,
  43,
  45,
  47,
  49]}